/* Chat.scss */
.wrapper {
  position: absolute;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 40px;
  bottom: 50px;
  right: 50px;
  z-index: 1;
  font-size: 14px;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  &.transparent {
    box-shadow: none;
    overflow: visible;
  }
}

.transparentShadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 40px;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top left, #f2f2fd, white); // Gradient from white to light purple
  max-height: 500px;
  height: 500px;
  width: 350px;

  &.transparent {
    height: auto;
    background: none;
  }
}

.headerContainer {
  display: flex;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  background: linear-gradient(to top, transparent 0%, white 75%);
  padding: 16px;
}

.chatWindow {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align messages to the bottom */
  overflow-y: auto; /* Allow scrolling if messages overflow */
  padding: 16px 16px 0 16px;
}

.openMessage {
  padding: 8px;
  font-style: italic;
  font-size: 14px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.message {
  font-size: 14px;
  max-width: 60%;
  padding: 17px 20px;
  margin: 5px 0;
  border-radius: 20px;
  word-wrap: break-word;

  &.user {
    background-color: black;
    color: white;
    align-self: flex-end;

    &.transparent {
      box-shadow: rgba(35, 47, 53, 0.09) 0px 0px 8px 0px;
    }
  }

  &.assistant {
    background: linear-gradient(to top left, rgba(211, 211, 211, 0.2), rgba(240, 240, 240, 0.5));
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    color: black;
    align-self: flex-start;

    &.transparent {
      box-shadow: rgba(35, 47, 53, 0.09) 0px 0px 8px 0px;
      border: 1.5px solid transparent;
      background-image: linear-gradient(rgb(245, 245, 245), rgb(245, 245, 245)), linear-gradient(90deg, rgb(254, 226, 212) 0%, rgb(245, 200, 214) 50%, rgb(219, 189, 219) 100%);
      background-origin: border-box;
      background-clip: padding-box, border-box;
    }
  }
}

// Blur UI effect
// .elevation-overlay {
//   -webkit-backdrop-filter: blur(12px);
//   backdrop-filter: blur(12px);
//   box-shadow: 0 16px 40px -4px #0d162f14, 0 4px 8px #0d162f0d;
// }

// .p-xxs {
//   padding: 4px;
// }
// .bg-background-brand\/5 {
//   background-color: #685fff0d;
// }

.inputContainer {
  display: flex;
  flex-shrink: 0;
  padding: 16px;
  border-top: none;
}

.inputWrapper {
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  flex: 1;
  padding: 8px;
  border-radius: 24px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
  transition: box-shadow 0.2s;

  // Triggered when textarea element is focused
  &:focus-within {
    box-shadow: 0 0 0 2px black, rgba(0, 0, 0, 0.1) 0 0 5px 0; // 2px black border expands outwards
    transition: box-shadow 0.5s ease; // Ensure the transition applies  
  }
}

.input {
  flex: 1;
  padding: 0 14px;
  margin: 6px 0;
  font-size: 14px;
  border: none;
  outline: none;
  line-height: 20px;
  max-height: 200px;
  overflow: hidden;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  resize: none;
  background-color: transparent;
  overflow-wrap: break-word;
  width: 100%;
  white-space: pre-wrap;
}

.button {
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:disabled {
    background-color: #d1d1d1;
    cursor: not-allowed;
    opacity: 0.7;
  }

  &.grey {
    background-color: #ebebeb;
  }

  &.square {
    border-radius: 8px;
  }
}

.iconWrapper {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svgIcon {
  width: 100%;
  height: 100%;
  color: white; // Update to match the example color
}